{% extends "base.html" %}

{% block head %}
    <title>Meta Proxy</title>
{% endblock %}

{%block body %}

   <section>
   <div id="managerBack">
    <h4>Manager</h4>
    <table align="center" cellspacing="0" cellpadding="0" border="0" width="573">
      <tr>
      <td width="191" align="left">
	 <img src="/static/img/rdf.gif" alt="intro" />
<div id="RDFButton">asas</div>
      </td>
 
      <td width="191" align="center">
	 <img src="/static/img/rdf.gif" alt="intro" /></div>
	 <p>Ontologies</p>
      </td>
      <td width="191" align="right">
	 <img src="/static/img/rdf.gif" alt="intro" /></div>
	 <p>SPARQL Queries</p>
      </td>
      </tr>
      </table> 
    </div>
    <div id="line"></div>
    <div class="clearfix"></div>
    </section>
{% endblock %}

 
