{% extends "base.html" %}

{% block head %}
    <title>Meta Proxy</title>
{% endblock %}

{%block body %}

   <div id="managerBack">
   <h1>Manager</h1>
   <table align="center" cellspacing="0" cellpadding="0" border="0" width="700">
     <tr>
		<td width="191" align="center">
			<a href="/manager/rdf/"><img src="/static/img/rdf.gif" alt="rdf" width="128" height="128"/></a>
			<p>RDF</p></div>
		</td>
		<td width="191" align="center">
			<a href="/manager/ontologies/"><img src="/static/img/ontology.png" alt="ontologies" width="128" height="128"/></a>
			<p>Ontologies</p>
		</td>
		<td width="191" align="center">
			<a href="/manager/sparql/"><img src="/static/img/sparql.png" alt="sparql" width="128" height="128"/></a>
			<p>SPARQL Queries</p>
		</td>
        <td width="191" align="center">
			<a href="/manager/scripts/"><img src="/static/img/script.png" alt="scripts" width="128" height="128"/></a>
			<p>Scripts</p>
		</td>
     </tr>
	</table> 
    </div>
    <div id="line"></div>
    <div class="clearfix"></div>
{% endblock %}

 
