{% extends "manager/base_manager.html" %}
{% load pygmentize_tags %}

{% block head %}
<link href="/static/css/pygments-black.css" rel="stylesheet" type="text/css"/>
    <title>Meta Proxy</title>
{% endblock %}

{%block body %}

   <div id="managerBack">
   <div id="helpcontent">
	<h2>Script Uploader</h2>
    <p>
        <ul>
            <li><b>Step 1:</b> Select the script to store in the database by loading it from your computer. </li>
            <ul>
                <li><b>Step 1.1:</b> The script must implement ModifyBodyBase abstract class, for example: </li>
                <div id="codeBox" style="max-width:600px;">
                {% pygmentize 'python' %}
import abc
from scripts.ModifyBodyBase import ModifyBodyBase

class ModifyBody(ModifyBodyBase):
    
    def __init__(self, body, headers, proxied_url):
        self.body = body
        self.headers = headers
        self.proxied_url = proxied_url
    
    @property
    def proxied_url(self):
        return self._proxied_url
    
    @proxied_url.setter
    def proxied_url(self, newProxied_url):
        self._proxied_url = newProxied_url
    
    @property
    def body(self):
        return self._body
    
    @body.setter
    def body(self, newBody):
        self._body = newBody
    
    @property
    def headers(self):
        return self._headers
    
    @headers.setter
    def headers(self, newHeaders):
        self._headers = newHeaders
    
    def body_modification_logic(self):
        self.body = self.body.replace('something', 'other thing') 
                {% endpygmentize %}
                </div>
            </ul>
            <li><b>Step 2:</b> Select the corresponding database to store the script. </li>
            <li><b>Step 3:</b> Press the <i>"Submit"</i> button.</li>
        </ul>
    </p>
    </div>
    
    <p>
    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <p><div id="formContent">
        {{ form.as_p }}
        {% if upload_error %}
            <div class="error">{{ upload_error }}</div>
        {% endif %}
        </div></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
    </p>
	</div>
    <div id="managerBack">
    <div id="helpcontent">
        <h2>Actual script (links)</h2>
        <p>
            <table align="center" class="stats" cellspacing="0">
            <tr>
                <th >Name</th>
                <th >URI</th>
                <th >Script</th>
            </tr>
            {% for item in scriptUrls %}
            <tr>
                <td><div id="centeredContent">{{item.0}}</div></td>
                <td><a href="/proxy/{{item.0}}">{{item.1}}</a></td>
                <td >
                    <a href="/manager/scripts/{{item.0}}">
                    <div id="centeredContent"><img src="/static/img/script.png" border="0" 
                            alt="script_code" width="48" height="48"></div>
                    </a> 
                </td>
            </tr>
            {% endfor %}  
            </table>
        <p>
    </div>
    </div>
    <div id="line"></div>
    <div class="clearfix"></div>
    
{% endblock %}

 
