{% extends "base.html" %}

{% block head %}
    <title>Meta Proxy</title>
{% endblock %}

{%block body %}

    <div id="managerBack">
    <h2>SparQL query result</h2>
        <p>
            <table align="center" class="stats" cellspacing="0">
            {%for item in resultList%}
                <tr>
                    <td>{{item.0}}</td>
                    <td>{{item.1}}</td>
                </tr>
            {% endfor %}
            </table> 
        </p>
    </div>
    <div id="line"></div>
    <div class="clearfix"></div>
{% endblock %}

 
