{% extends "manager/base_manager.html" %}
{% load pygmentize_tags %}

{% block head %}
<link href="/static/css/pygments-black.css" rel="stylesheet" type="text/css"/>
    <title>Meta Proxy</title>
{% endblock %}

{%block body %}

    <div id="managerBack">
    <h2>SparQL query result</h2>
        <p>
            {%if output == "python"%}
                <table align="center" class="stats" cellspacing="0">
                {%for item in resultList%}
                    <tr>
                        <td>{{item.0}}</td>
                        <td>{{item.1}}</td>
                    </tr>
                {% endfor %}
                </table> 
            {%else%}
                <div id="codeBox">
                {{resultList|pygmentize:"xml"}}
                </div>
            {%endif%}
        </p>
    </div>
    <div id="line"></div>
    <div class="clearfix"></div>
{% endblock %}

 
