
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all"  />
{% block head %}{% endblock %}
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="logo"></div>
    <div id="title">MetaProxy</div>
    <div id="tagline">Inserting metadata to your webpages...</div>
  </div>
  <div id="nav">
    <div id="nbar">
      <ul>
	<li id="selected"><a href="/">Home</a></li>
	<li><a href="/manager/">Manager</a></li>
	<li><a href="/admin/">Admin</a></li>
      </ul>
    </div>
  </div>

{% block body %}{% endblock %}

  <div id="content-bottom">
      <div id="badges">
	  <a href="http://www.djangoproject.com/"><img src="/static/img/django_logo_green.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
	  <a href="http://www.python.org/"><img src="/static/img/python_logo.png" border="0" alt="Made with Python." title="Made with Python." /></a>
      </div>
      <div id="footer"> 
	  &copy; 2011 <strong>Meta Proxy</strong> | Design by: <a href="http://www.themebin.com/">ThemeBin</a><br/>
      </div>  
  </div>
</div>
</body>
</html>
