
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all"  />
        <link rel="stylesheet" type="text/css" href="/static/css/ribbon.css" media="all"  />
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="wrap">
          <div id="header">
            <div id="logo"></div>
            <div id="title">MetaProxy</div>
            <div id="tagline">Proxying in a different way...</div>
            
            <div class="right ribbon-holder">
                <a href="https://github.com/slok/metaproxy" class="white ribbon">
                    <span class="text">Fork me on GitHub</span>
                </a>
          </div>
          </div>
          <div id="nav">
            <div id="nbar">
              <ul>
                <li id="selected"><a class="normal" href="/">Home</a></li>
                <li><a class="normal" href="/manager/">Manager</a></li>
                <li><a class="normal" href="/admin/">Admin</a></li>
                {% block logout %}{% endblock %}
              </ul>
            </div>
          </div>
          {% block body %}{% endblock %}
          <div id="content-bottom">
              <table align="center" cellspacing="0" cellpadding="0" border="0" width="900">
                    <tr>
                        <td width="191" align="left">
                            <a href="http://www.djangoproject.com/"><img src="/static/img/django_logo_green.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
                        </td>
                        <td width="191" align="center">
                            &copy; 2011 <strong>Meta Proxy</strong> | Design by: <a href="http://www.themebin.com/">ThemeBin</a><br/>
                        </td>
                        <td width="191" align="right">
                            <a href="http://www.python.org/"><img src="/static/img/python_logo.png" border="0" alt="Made with Python." title="Made with Python." /></a>
                        </td>
                    </tr>
              </table> 
          </div>
        </div>
    </body>
</html>
