{% extends "base.html" %}

{% block head %}
    <title>Meta Proxy</title>
{% endblock %}

{% block body %}
    <header>
	<div id="intro">
	  <div id="intro-msg">
	    <h1>Welcome to Meta Proxy</h1>
	    <p>Welcome to <strong>Meta Proxy</strong> Site. (Descripcion)</p>
	    <p>
	      <ul>
		<li>Manager ---> to manage the proxy</li>
		<li>Admin ---> to access Django User administration</li>
	      </ul>
	    </p>
	  </div>
	  <div id="intro-pic">
	    <div align="left"><img src="/static/img/intro-pic.png" alt="intro" /></div>
	  </div>
	</div>
    </header>
    <section>
      <div id="content-wrap">
	<div id="homecontent">
	  <h2>Proxied Sites</h2>
	  <ul>
	    {% for item in proxiedSites %}
	      <li><a href="/proxy/{{ item.0 }}">{{ item.0 }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	<div id="line"></div>
	<div class="clearfix"></div>
      </div>
    </section>
{% endblock %}

 
